body{
    /*width: 500px;*/
    /*height: 600px;*/
    background-color: #22282A;
    /*color: #DFDFBF;*/
    color: #D0B078;
    padding: 15px;
}
html{
    /*border: 3px ridge #304030;*/
}
.search-box input{
    background-color: black;
    width: 100%;
    border-width: 0;
    padding: 0px 10px 0px 10px;
    outline: 0;
    color: #DFDFBF;

}
.search-box{
    line-height:30px;
    font-size: medium;

}
.section{
    border: 2px solid #304030;
    margin: 5px 5px 0 5px;
}

ul{
    list-style:none;
    padding-left:0;
}
.items{
    background:none;
    background:transparent;
    border:none;
    outline:none;
    appearance:none;
}
.clipboard .item{
    padding: 10px 10px 2px 10px;
    border-bottom: 1px solid #284628;
}
.clipboard .item:focus{
    background-color: green;
}
.clipboard .items li:first-of-type{
    background-color: #152515;
}
.clipboard{
    padding: 0px;
    background-color: #151515;
    border-style: inset;
    border-width: medium;
    overflow: auto;

}
.button-icon {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    left: -2px;
    position: absolute;
    top: -40px;
    width: 30px;
    -webkit-app-region: no-drag;
}

.settings,
.close {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    /*position: absolute;*/
    /*text-indent: -10000px;*/
    /*top: 6px;*/
    width: 32px;
    z-index: 1;
    /*color: #ffffff;*/
    left: 95%;
}

.settings {
    background: transparent url('../img/settings.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 38px;
}

.close {
    background-size: 24px 24px;
    right: 6px;
}

